.top {
    margin: 10px;
    background-color: antiquewhite;
}

.img1 {
    display: flex;
    align-items: center;
}

.img1 img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
    align-content:end;
}

.name {
    font-size: 30px;
    font-family:'Gill Sans MT', sans-serif;
    font-weight:600;
    color: #46515B;
}

.address {
    margin-top: 5px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.number {
    font-weight: bold;
}

.location {
    font-style: italic;
}

.b1 {
    background-color: lightgoldenrodyellow;
    margin: 10px;
    border:3px orange;
    border-style:dashed;
}

.title {
    margin-top:30px;
    font-weight:bold;
    font-size:40px;
    background-color: antiquewhite;
}

.title2 {
    background-color: aquamarine;
    font-weight:bold;
    font-style:italic;
    font-size:30px;
}

.b2 {
    background-color: lightblue;
    margin:10px;
    border:3px orange;
    border-style:dashed;
}

.title3{
    margin-top:30px;
    font-weight:bold;
    font-size:40px;
    background-color: antiquewhite;
    border:3px black;
    border-bottom-style: solid;
    
    border-top-style: none;
    
    border-left-style: none;
    
    border-right-style: none;
}

.b3 {
    background-color: lightgrey;
    margin:10px;
    border:3px orange;
    border-style:dashed;
}

.a1 {
    border:1px black;
    border-bottom-style: none;
    
    border-top-style: solid;
    
    border-left-style: none;
    
    border-right-style: none;
}
.a2 {
    border:1px orange;
    border-bottom-style: none;
    
    border-top-style: solid;
    
    border-left-style: none;
    
    border-right-style: none;
}